{% extends 'base.html' %}
{% load static %}


{% block customcss %}
<link href="{% static 'style.css' %}" rel="stylesheet">
{% endblock customcss %}

<body>
{% block header %}
<div class="alert alert-secondary" role="alert">
    <h3>レアテック掲示板(shu)</h3>
  </div>
{% endblock header %}

{% block content %}
<div class="container">
  {% for item in object_list %}
<div class="alert alert-secondary" role="alert">
  <p>タイトル:{{item.title}}</p>
  <p>詳細:{{item.memo}}</p>

</div>
{% endfor %}
</div>





{% endblock content %}
</body>